*{
    margin: 0;
    padding: 0;
}
body{
    background-color: gainsboro;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
header,footer{
    background-color: blue;
    color: white;
    text-align: center;
    padding-bottom: 1rem;
    
}


.biography,.achievements{
    padding: 2rem;
    margin: 1rem;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
